body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mapboxgl-map {
  width: 100vw !important;
  height: 100vh !important;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 16px;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar {
  max-height: 808px;
  overflow-y: scroll;
  padding-right: 5px;
}
